extends ../components/layout-header-footer

block main
  main.articles-category
    h1 Бизнес
    section.articles-category__theme-list
      ul.themes
        each theme in [1, 2, 3, 4, 5, 6, 7]
          include ../components/theme
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      include ../components/preview-list
